<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">
        Your Phone Book
    </h1>
    <div  >
         <p style="font-size:x-large;">
            If You have already Logged in go to PhoneBook dashboard else first Login
        </p>
        <a 
         style=" text-decoration: none; float: right; padding: 12px 28px; margin:5px; background-color: #2d861e; border-radius: 4px; color:black; "
         href='/contact'
        >
            Dashboard
        </a>
        <a 
         style=" text-decoration: none; float: right; padding: 12px 28px; margin:5px; background-color: #2d862d; border-radius: 4px; color:black; "
         href='/login'
        >
            LogIn
        </a>
        <a style="text-decoration: none; float: right; padding: 12px 28px; margin: 5px; background-color: #990000; border-radius: 4px; color:black"
         href='/signup'
        >
            SignUP
        </a>

    </div>
</body>
</html>